<html>
  <head>
      
    <title>{{ page.title }}</title>
    <!-- The description is not directly visible on the page. But it can show up in certain places like search engines. Probably unnecessary for most pages in your blog. -->
    <meta name="description" content="A Solo TTRPG blog that combines story with mechanical explanations to try and help people new to the hobby get started with crafting their own narratives.">
    <!-- This specifies the favicon (little icon on the browser tab) -->
    <link rel="icon" href="./images/favicon.png" type="image/x-icon"/>
    <!-- This helps our site look consistent across devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"> 
    <!-- Here's the link to our CSS stylesheet! -->
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="all" />
    
  </head>
  <body>
    <div class="container">
      
      {{ content }}
      
    </div><!-- /.container -->
    <footer>
      
    </footer>
  </body>
</html>
