<html>
  <head>
      
    <title>{{ page.title }}</title>
    <!-- The description is not directly visible on the page. But it can show up in certain places like search engines. Probably unnecessary for most pages in your blog. -->
    <meta name="description" content="A Solo TTRPG blog that combines story with mechanical explanations to try and help people new to the hobby get started with crafting their own narratives.">
    <!-- This specifies the favicon (little icon on the browser tab) -->
    <link rel="icon" href="./images/favicon.png" type="image/x-icon"/>
    <!-- This helps our site look consistent across devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"> 
    <!-- Here's the link to our CSS stylesheet! -->
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="all" />
    
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>Solo Stories</h1>
        <ul> 
          <li><a href="/index.html">Home</a></li>
          <li><a href="/solo_games.html">Solo Games</a></li>
          <li><a href="/archive.html">Archive</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </div>

      <div id="content">
      
      {{ content }}

      </div><!-- /.content -->
      
    
      <footer>
        <div class='right no-ai'>
          <a href='https://no-ai-icon.com/statement/?url=solostories.neocities.org'><img src='/images/no-ai-icon-07.png'  /></a>
        </div>
      
        <p><strong>SoloStories</strong><a href='/postfeed.xml'><img id='rss' src='/images/rss.png' /></a> is written by <strong>fst0pped</strong> <a href='https://tabletop.social/@fst0pped'><img id='mastodonfooter' src='/images/mastodon.svg' /></a>, built with <strong>GitHub Pages</strong>, and hosted by <a href='https://github.com/fst0pped'>Github</a> <a href='https://github.com/fst0pped/fst0pped.github.io'><img id='githubfooter' src='/images/GitHub_Invertocat_Black.png' /></a>.</p>
    </footer>

    </div><!-- /.container -->
  </body>
</html>
